*{
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    margin-left: 55px;
    padding: 5px;
    
}
header{
    background-color: palegreen;
    height: 30px;
}
#second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
}
.box{
    height: 100px;
    width: 100px;
    background-color: chocolate;
    margin: 5px;
    display: inline-block;

}
#container{
    border:3px solid black;
}
#box4{
    position: fixed;
    right: 10px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: aqua;
}

