 *{
            font-family: 'Times New Roman', Times, serif;
            padding: auto;
        }
        #head{
            text-align: center;
            text-transform: uppercase;
            background-color: aqua;
            counter-reset: black;
            font-weight: 400px;
        }
        #inner{
            font-size: 10px;

        }
        #outer{
            font-size: 25px;
        }